includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app/
        - config/
        - database/
        - routes/
        - tests/

    # Исключения для файлов/папок
    excludePaths:
        - bootstrap/cache/
        - storage/
        - vendor/
        - node_modules/ (?)
        - public/

    # Игнорировать определенные ошибки
    ignoreErrors:
        # Игнорировать ошибки для фасадов Laravel
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
        - '#Call to an undefined method Illuminate\\Database\\Query\\Builder#'

    # Laravel специфичные настройки
    reportUnmatchedIgnoredErrors: false
